.container__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    border-top: 2px solid;

    .eleyash {
        display: flex;
        justify-content: space-around;
        height: 120px;
        width: 90px;
        border-radius: 1000px;
        transition: all 0.3s ease-in-out 0s;

        &:active {
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: #4FD1C5;
            background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 12px 12px 14px rgba(79, 209, 197, .64);
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
        }

        .eleyash__img {
            margin-top: 15px;
            height: 60px;
        }
    }

    //Medida adaptada a Pc
    @media screen and (min-width: 769px) {
        justify-content: space-around;
        height: 200px;
    }
}